
body {
	font-family: sans-serif;
	font-weight: normal;
	margin: 2px;
	color: #999;

}

form {
	margin: 10px 0;
}

div {
	clear: both;
	margin: 0 20px;
}

label {
  width: 130px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio1:empty {
	margin-left: -999px;
}

/* style label */
input.radio1:empty ~ label {
	position: relative;
	float: right;
	line-height: 1.5em;
	text-indent: 3.00em;
	margin-top: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio1:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio1:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #000;
}

input.radio1:hover:not(:checked) ~ label {
	color: #000;
}

/* toggle on */
input.radio1:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio1:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #000;
}



input.radio1:checked ~ label {
	color: #000;
}




/* hide input */
input.radio2:empty {
	margin-left: -999px;
}

/* style label */
input.radio2:empty ~ label {
	position: relative;
	float: right;
	line-height: 1.5em;
	text-indent: 3.00em;
	margin-top: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio2:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio2:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #0080C0;
}

input.radio2:hover:not(:checked) ~ label {
	color: #0080C0;
}

/* toggle on */
input.radio2:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio2:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #0080C0;
}



input.radio2:checked ~ label {
	color: #0080C0;
}




/* hide input */
input.radio3:empty {
	margin-left: -999px;
}

/* style label */
input.radio3:empty ~ label {
	position: relative;
	float: right;
	line-height: 1.5em;
	text-indent: 3.00em;
	margin-top: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio3:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio3:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #00F43E;
}

input.radio3:hover:not(:checked) ~ label {
	color: #00F43E;
}

/* toggle on */
input.radio3:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio3:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #00F43E;
}



input.radio3:checked ~ label {
	color: #00F43E;
}





/* hide input */
input.radio4:empty {
	margin-left: -999px;
}

/* style label */
input.radio4:empty ~ label {
	position: relative;
	float: right;
	line-height: 1.5em;
	text-indent: 3.00em;
	margin-top: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio4:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio4:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #FF0000;
}

input.radio4:hover:not(:checked) ~ label {
	color: #FF0000;
}

/* toggle on */
input.radio4:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #FF0000;
	background-color: #FF0000;
}

input.radio4:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #000;
	background-color: #FF0000;
}



input.radio4:checked ~ label {
	color: #FF0000;
}





/* hide input */
input.radio5:empty {
	margin-left: -999px;
}

/* style label */
input.radio5:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.5em;
	text-indent: 3.00em;
	margin-top: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio5:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio5:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #000;
}

input.radio5:hover:not(:checked) ~ label {
	color: #000;
}

/* toggle on */
input.radio5:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio5:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #FFF;
}



input.radio5:checked ~ label {
	color: #000;
}





/* hide input */
input.radio6:empty {
	margin-left: -999px;
}

/* style label */
input.radio6:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.5em;
	text-indent: 3.00em;
	margin-top: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio6:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio6:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #FFC0FF;
}

input.radio6:hover:not(:checked) ~ label {
	color: #FFC0FF;
}

/* toggle on */
input.radio6:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #FFC0FF;
	background-color: #FFC0FF;
}

input.radio6:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #000;
	background-color: #FFC0FF;
}



input.radio6:checked ~ label {
	color: #FFC0FF;
}





/* hide input */
input.radio7:empty {
	margin-left: -999px;
}

/* style label */
input.radio7:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.5em;
	text-indent: 3.00em;
	margin-top: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio7:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio7:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #00FFFF;
}

input.radio7:hover:not(:checked) ~ label {
	color: #00FFFF;
}

/* toggle on */
input.radio7:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio7:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #00FFFF;
}



input.radio7:checked ~ label {
	color: #00FFFF;
}





/* hide input */
input.radio8:empty {
	margin-left: -999px;
}

/* style label */
input.radio8:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.5em;
	text-indent: 3.00em;
	margin-top: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio8:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio8:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #FFFF00;
}

input.radio8:hover:not(:checked) ~ label {
	color: #FFFF00;
}

/* toggle on */
input.radio8:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio8:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #FFFF00;
}



input.radio8:checked ~ label {
	color: #FFFF00;
}








  .window{
  display:none;
			width:400px;
			height:130px;
			position:absolute;
			left:0;
			top:0;
			background:#FFF;
			z-index:9900;
			padding:10px;
			border-radius:10px;
            border:#BB3D00 solid 1.5px;
		}

		#mascara{
			position:absolute;
  			left:0;
  			top:0;
  			z-index:9000;
  			background-color:#BBBBBB;
  			display:none;
		}

		.fechar{display:block; text-align:right;}

table.BordaRedondaMensagem {
    border-top-left-radius: 0px  8px;
    border-top-right-radius: 8px  8px;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border:#FFF solid 1.5px;
}

table.BordaEnvolvidos {
    margin-left: 0px;
    border:#F07800 solid 1.5px;
    padding:5px 0 5px;
}
table.BordaEnvolvidos:before {
   border: 16px solid transparent;
   border-left-color: #F07800;
   content: "";
   left: 150px;
   position: absolute;
   top: 54px;
}

table.BordaImport {
    margin-left: 0px;
    border:#F07800 solid 1.5px;
    padding:5px 0 5px;
}
table.BordaImport:before {
   border: 16px solid transparent;
   border-left-color: #F07800;
   content: "";
   left: 150px;
   position: absolute;
   top: 17px;
}

table.BordaRedonda {
    margin-left: 0px;
    border:#F2F2F2 solid 1.5px;
}

table.Redonda {
    border-top-left-radius: 5px  5px;
    border-top-right-radius: 5px  5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border:#BB3D00 solid 1.5px;

}

table.certificado {

    border-top-left-radius: 5px  5px;
    border-top-right-radius: 5px  5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border: 1.5px
    solid #E6E6E6;
}


table.BordaCadastrada {
    margin-left: 0px;
    border:#F2F2F2 solid 1.5px;
}

table.BordaImportar {
    margin-left: -1.5px;
    border-top-left-radius: 3px  3px;
    border-top-right-radius: 3px  3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border:#BB3D00 solid 1.5px;
}


.principal
{
    border: 1.5px solid #BB3D00;
    height: 300px;
    position: relative;
    top: 5;
    margin-left: 14px;
    margin-right: auto;
    background-color: #F2F2F2;
    border-top-left-radius: 5px  5px;
    border-top-right-radius: 5px  5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

.campo
{
  font-family: Verdana, Arial, Sans-serif;
  font-size:70%;
  color:#FFF;
}

.alinhar
{
 margin-left: 2%;
}

.linha {
	font-family: Verdana, Arial, Sans-serif;
	font-size:70%;
	color:#039;
	top: 20;
	width: 700px;
    margin-left: 14px;
	padding: 1px 0 0px 5px;
	border-left: 2px solid #BB3D00;
	border-bottom: 2px solid #BB3D00;
	margin-bottom:0;
}

.linhaSecundaria {
	font-family: Verdana, Arial, Sans-serif;
    font-size:80%;
	color:#039;
	width: 79%;
    margin-left: 130px;
	padding: 43px 0 0px 0px;
    border-bottom: 2px solid #939393;
	margin-bottom:0;
}

.linhaMenu {

	font-family: Verdana, Arial, Sans-serif;
	font-size:90%;
	color:#039;
	top: 20;
    width: 80%;
    margin-left: 0%;
	padding: 1px 0 0px 5px;
	background-color:#FFF;
	margin-bottom:0;

    solid #E6E6E6;
    border-radius: 5px;
}

a.info span {display:none; padding:0px 30px;margin-top:35px; margin-left:-140px; width:250px;border-radius: 2px 2px;}
a.info:hover span{display:inline; position:absolute; background:#E6E6E6; border:1.5px solid #BECDE4; color:#7F7F7F;}

fieldset { border: 1.5px solid #E6E6E6; width: 87%; background: #F2F2F2; padding: 3px; margin-left: 1.5%;}
fieldset legend { font-size: 90%; text-align:right; color:#BB3D00; }


a.botaomenu span {display:none; padding:0px 30px;margin-top:25px; margin-left:50px; width:200px;border-radius: 2px 2px;}
a.botaomenu:hover span{display:inline; position:absolute; background:#E6E6E6; border:1.5px solid #BECDE4; color:#000;}

.fieldset1 { border: 1.5px solid #E6E6E6; width: 20%; background: #F2F2F2; padding: 3px; margin-left: 75%; text-align:center;}
.fieldset1 legend { font-size: 90%;  }


.formulario {
BACKGROUND-COLOR: #FFFFFF; COLOR: #000; FONT-SIZE:10px; FONT-WEIGHT: bolder; border:#EFEFEF solid 1px; padding:5px;
}


.campoMsn {
BACKGROUND-COLOR: #FFFFFF; COLOR: #EC4D00; FONT-SIZE:10px; FONT-WEIGHT: bolder; border:#EC4D00 solid 1px; text-align:center;
}

.info{
font-family: arial;
color: #fff;
background-color: #F07800;
border-color: #F07800;
text-decoration: none;
display: inline-block;
text-align: center;
vertical-align: middle;
cursor: pointer;
white-space: nowrap;
padding: 2px 12px;
font-size: 12px;
line-height: 1.42857143;
border-radius: 3px;
border: none;
border-bottom: 3px solid #BB3D00;
        }

.info:hover{
background: #BB3D00;
        }




.fechar{
font-family: arial;
color: #fff;
background-color: #F07800;
border-color: #F07800;
text-decoration: none;
display: inline-block;
text-align: center;
vertical-align: middle;
cursor: pointer;
white-space: nowrap;
padding: 2px 12px;
font-size: 12px;
line-height: 1.42857143;
border-radius: 3px;
border: none;
border-bottom: 3px solid #BB3D00;
        }

.fechar:hover{
background: #BB3D00;
        }



#popup2  {
   position: absolute;
   top: 35%;
   left: 35%;
   width: 400px;
   height: 170px;
   padding: 0px 0px 0px 0px;
   border-width: 2px;
   border:#EFEFEF solid 1.5px;
   background: #EFEFEF;
   border-top-left-radius: 10px  10px;
   border-top-right-radius: 10px  10px;
   border-bottom-left-radius: 10px 10px;
   border-bottom-right-radius: 10px 10px;
   1display: none;
}



#popup {
   position: absolute;
   top: 15%;
   left: 35%;
   width: 400px;
   height: 170px;
   padding: 0px 0px 0px 0px;
   border-width: 2px;
   border:#EFEFEF solid 1.5px;
   background: #FFF;
   border-top-left-radius: 5px  5px;
   border-top-right-radius: 5px  5px;
   border-bottom-left-radius: 10px 10px;
   border-bottom-right-radius: 10px 10px;
   1display: none;
}

.aviso {
  font-style: italic;
  font-family: Verdana, Arial, Sans-serif;
  font-size:90%;
  color: #FF0000;
}

.resultado {
  font-family: bold;
  font-size: 90%;
  color: #F07800;
  text-align: top;

}

.experimento {
  font-family: bold;
  font-size: 90%;
  color: #000;
  text-align: center
}

.barraRolagemNfe {
 overflow: auto;
    height: 240px;
        width: 600px;
}

.botaomenu{
font-family: arial;
color: #fff;
background-color: #F07800;
border-color: #F07800;
text-decoration: none;
width: 150px;
margin-left: 20px;
display: inline-block;
text-align: center;
vertical-align: middle;
cursor: pointer;
white-space: nowrap;
padding: 10px 12px 12px 10px;
font-size: 12px;
line-height: 1.42857143;
border-radius: 9px;
border: none;
border-bottom: 5px solid #BB3D00;
        }

.botaomenu:hover{
background: #BB3D00;
        }




